output
logs
.vscode
cache
config
keys
temp
utils/__pycache__
utils/widevine/__pycache__
utils/widevine/formats/__pycache__
device
core/__pycache__
core/api/__pycache__
core/content/__pycache__
core/process/__pycache__
AndroidKeyDump
mediaToken
SyncLibrary.ps1
SyncLibrary.sh